In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_excel("/Users/saidheerajtadisetti/Desktop/GFK/Task 4.xlsx")
data

   House_Price  Square Feet
0          245         1400
1          312         1600
2          279         1700
3          308         1875
4          199         1100
5          219         1550
6          405         2350
7          324         2450
8          319         1425
9          255         1700

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
House_Price    10 non-null int64
Square Feet    10 non-null int64
dtypes: int64(2)
memory usage: 288.0 bytes

In [8]:
data.describe()

       House_Price  Square Feet
count    10.000000    10.000000
mean    286.500000  1715.000000
std      60.185362   417.864944
min     199.000000  1100.000000
25%     247.500000  1456.250000
50%     293.500000  1650.000000
75%     317.250000  1831.250000
max     405.000000  2450.000000

In [9]:
X = data.drop('House_Price', axis=1)
y = data['House_Price']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [12]:
y_pred = regressor.predict(X_test)

In [13]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

   Actual  Predicted
2     279      255.0
8     319      245.0

In [14]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 49.0
Mean Squared Error: 3026.0
Root Mean Squared Error: 55.00909015790027

The reason why i used decision tree as a prediction analysis on this task because - 1)it is very easy to work on,easy to understand as well and it is very effective as per prediction job.