In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_excel("/Users/jay/Desktop/GFK/GFK 5th TASK.xlsx")
data

    House_Price  Square_Feet
0           NaN          NaN
1         245.0       1400.0
2           NaN          NaN
3         312.0       1600.0
4           NaN          NaN
5         279.0       1700.0
6           NaN          NaN
7         308.0       1875.0
8           NaN          NaN
9         199.0       1100.0
10          NaN          NaN
11        219.0       1550.0
12          NaN          NaN
13        405.0       2350.0
14          NaN          NaN
15        324.0       2450.0
16          NaN          NaN
17        319.0       1425.0
18          NaN          NaN
19        255.0       1700.0
20          NaN          NaN

In [13]:
data = data.dropna()
data

    House_Price  Square_Feet
1         245.0       1400.0
3         312.0       1600.0
5         279.0       1700.0
7         308.0       1875.0
9         199.0       1100.0
11        219.0       1550.0
13        405.0       2350.0
15        324.0       2450.0
17        319.0       1425.0
19        255.0       1700.0

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 19
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   House_Price  10 non-null     float64
 1   Square_Feet  10 non-null     float64
dtypes: float64(2)
memory usage: 240.0 bytes

In [15]:
data.describe()

       House_Price  Square_Feet
count    10.000000    10.000000
mean    286.500000  1715.000000
std      60.185362   417.864944
min     199.000000  1100.000000
25%     247.500000  1456.250000
50%     293.500000  1650.000000
75%     317.250000  1831.250000
max     405.000000  2450.000000

In [30]:
X = data.drop('House_Price', axis=1)
y = data['House_Price']

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [32]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [33]:
y_pred = regressor.predict(X_test)

In [34]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

    Actual  Predicted
5    279.0      255.0
17   319.0      245.0

In [35]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 49.0
Mean Squared Error: 3026.0
Root Mean Squared Error: 55.00909015790027

 The reason why i used decision tree as a prediction analysis on this task because -
 1)it is very easy to work on,easy to understand as well and it is very effective as per prediction job.